#include <zephyr/dt-bindings/pinctrl/esp-pinctrl-common.h>
#include <dt-bindings/pinctrl/esp32s3-pinctrl.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
// SDA GPIO1 ; SCL GPIO2
/ {
    aliases {
        oled-display = &ssd1306_node;
        dc-01 = &uart1;
        tovc-301 = &uart2;
        aosong-aht10 = &aht10_i2c1;
        fan-pwm = &pwm_output;
    };

    wifi_ap: wifi_ap {
		compatible = "espressif,esp32-wifi";
		status = "okay";
	};

    pwmleds {
        compatible = "pwm-leds";
        pwm_output: pwm_output_node {
            /* 使用 ledc0 的通道 0, 周期 55556ns, 标志位 PWM_POLARITY_NORMAL */
            pwms = <&ledc0 0 55556 PWM_POLARITY_NORMAL>;
            label = "PWM_TEST_OUT";
        };
    };

	chosen {
		zephyr,storage-partition = &storage_partition;
	};
};

/* 1. 必须将引脚定义在 &pinctrl 节点内部 */
&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            /* 在 Zephyr v3.x+ 中，推荐使用这种宏格式 */
            pinmux = <I2C0_SDA_GPIO1>,
                     <I2C0_SCL_GPIO2>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };

    i2c1_default: i2c1_default {
        group1 {
            pinmux = <I2C1_SDA_GPIO4>,
                     <I2C1_SCL_GPIO5>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };

    uart1_default: uart1_default {
        group1 {
            pinmux = <UART1_TX_GPIO17>;
            output-high;
        };
        group2 {
            pinmux = <UART1_RX_GPIO18>;
            bias-pull-up;
        };
    };

    // Uart2的引脚随便配置，后续根据实际随意修改即可
    uart2_default: uart2_default {
                group1 {
                        pinmux = <UART2_TX_GPIO15>;
                        output-high;
                };

                group2 {
                        pinmux = <UART2_RX_GPIO16>;
                        bias-pull-up;
                };
        };
};

/* 2. 修改 I2C0 控制器 */
&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    /* 注意这里一定要有 & 符号！ */
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default"; // SDA : GPIO1 ; SCL : GPIO2

    ssd1306_node: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        status = "okay";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
    };
};

&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    /* 注意这里一定要有 & 符号！ */
    pinctrl-0 = <&i2c1_default>; // SDA : GPIO4 ; SCL : GPIO5
    pinctrl-names = "default";

    // 节点名必须为 aht10@38
    aht10_i2c1: aht10@38 {    
        compatible = "aosong,aht10";
        reg = <0x38>;          // AHT10 固定地址
        status = "okay";
        // label = "AHT10_I2C1"; // 可选：用于驱动识别
    };
};

// IO17 = U1TXD
// IO18 = U1RXD
&uart1 {
        status = "okay";
        current-speed = <9600>;
        pinctrl-0 = <&uart1_default>;
        pinctrl-names = "default";
};

// IO15 = U2TXD
// IO16 = U2RXD
&uart2 {
        status = "okay";
        current-speed = <9600>;
        pinctrl-0 = <&uart2_default>;
        pinctrl-names = "default";
};

/* 启用 LEDC 控制器并配置通道 */
&ledc0 {
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    /* 配置通道 0 */
    channel0@0 {
        reg = <0x0>;
        timer = <0>;
    };
};

/* 配置引脚复用 (Pinmux) */
&pinctrl {
    ledc0_default: ledc0_default {
        group1 {
            /* 将 LEDC 通道 0 映射到 GPIO 13 */
            pinmux = <LEDC_CH0_GPIO13>;
            output-enable;
        };
    };
};