#include <zephyr/dt-bindings/pinctrl/esp-pinctrl-common.h>
#include <dt-bindings/pinctrl/esp32s3-pinctrl.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
// SDA GPIO1 ; SCL GPIO2
/ {
	aliases {
		oled-display = &ssd1306_node;
		dc-01 = &uart1;
		tovc-301 = &uart2;
		aosong-aht10 = &aht10_i2c1;
		fan-pwm = &pwm_output;
		red-pwm-led = &red_pwm_led;
		green-pwm-led = &green_pwm_led;
		blue-pwm-led = &blue_pwm_led;
		key = &button_1;
	};

	wifi_ap: wifi_ap {
		compatible = "espressif,esp32-wifi";
		status = "okay";
	};

	pwmleds {
		compatible = "pwm-leds";

		pwm_output: pwm_output_node {
			/* 使用 ledc0 的通道 0, 周期 55556ns, 标志位 PWM_POLARITY_NORMAL */
			pwms = <&ledc0 0 55556 PWM_POLARITY_NORMAL>;
			label = "PWM_FAN";
		};

		red_pwm_led: red_pwm_led_node {
			pwms = <&ledc0 1 1000000 PWM_POLARITY_NORMAL>;
			label = "RED_PWM_LED";
		};

		green_pwm_led: green_pwm_led_node {
			pwms = <&ledc0 2 1000000 PWM_POLARITY_NORMAL>;
			label = "GREEN_PWM_LED";
		};

		blue_pwm_led: blue_pwm_led_node {
			pwms = <&ledc0 3 1000000 PWM_POLARITY_NORMAL>;
			label = "BLUE_PWM_LED";
		};
	};

	custom-buttons {
		button_1: custom_button_1 {
			compatible = "custom,button";
			pin = <&d0>;
		};
	};

	buttons {
		compatible = "gpio-keys";

		d0: button_0 {
			gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	chosen {
		zephyr,storage-partition = &storage_partition;
	};
};

/* 1. 必须将引脚定义在 &pinctrl 节点内部 */
&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			/* 在 Zephyr v3.x+ 中，推荐使用这种宏格式 */
			pinmux = <I2C0_SDA_GPIO1>,
					 <I2C0_SCL_GPIO2>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};

	i2c1_default: i2c1_default {
		group1 {
			pinmux = <I2C1_SDA_GPIO4>,
					 <I2C1_SCL_GPIO5>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};

	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_GPIO17>;
			output-high;
		};

		group2 {
			pinmux = <UART1_RX_GPIO18>;
			bias-pull-up;
		};
	};

	// Uart2的引脚随便配置，后续根据实际随意修改即可
	uart2_default: uart2_default {
		group1 {
			pinmux = <UART2_TX_GPIO15>;
			output-high;
		};

		group2 {
			pinmux = <UART2_RX_GPIO16>;
			bias-pull-up;
		};
	};

	ledc0_default: ledc0_default {
		group1 {
			pinmux = <LEDC_CH0_GPIO13>, // FAN
					 <LEDC_CH1_GPIO40>, // RED
					 <LEDC_CH2_GPIO41>, // GREEN
					 <LEDC_CH3_GPIO42>; // BLUE
			output-enable;
		};
	};
};

// OLED 显示屏 SSD1306
&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	/* 注意这里一定要有 & 符号！ */
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default"; // SDA : GPIO1 ; SCL : GPIO2

	ssd1306_node: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		status = "okay";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};

// AHT10 温湿度传感器
&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	/* 注意这里一定要有 & 符号！ */
	pinctrl-0 = <&i2c1_default>; // SDA : GPIO4 ; SCL : GPIO5
	pinctrl-names = "default";

	// 节点名必须为 aht10@38
	aht10_i2c1: aht10@38 {
		compatible = "aosong,aht10";
		reg = <0x38>;          // AHT10 固定地址
		status = "okay";
		// label = "AHT10_I2C1"; // 可选：用于驱动识别
	};
};

// DC01 -- PM 2.5 传感器
&uart1 {
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

// TOVC-301 -- TVOC 传感器
&uart2 {
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
};

// 电机 PWM 输出配置
&ledc0 {
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	/* 配置通道 0 */
	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};

	channel1@1 {
		reg = <0x1>;
		timer = <1>;
	};

	channel2@2 {
		reg = <0x2>;
		timer = <1>;
	};

	channel3@3 {
		reg = <0x3>;
		timer = <1>;
	};
};

